body
{
	/* #1a3059 */
	background-color: #E1E2EB;
	margin: 0;
}

h1
{

	padding-top: 55px;
	color: #545CA1;
	text-align: left;
	font-size: 120px;
	font-family: Courier;
	padding-left: 45px;
	margin: 0; 

}

h2
{
	text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
	opacity: 1; /* 1 = full brightness, 0 = invisible!*/
	padding-top: 15px;
	color: #545CA1;
	text-align: left;
	padding-left: 45px;
	font-size: 65px;
	font-family: Courier;
	margin: 0; 
}

p
{
	color: #545CA1;
	text-align: left;
	font-size: 20px;
	padding-left: 45px;
	font-weight: bold;
	font-family: Courier;
}

h3 /*software engineer */
{
	/*padding-bottom: 10px;*/
	text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
	color: #545CA1;
	text-align: left;
	font-size: 42px;
	font-family: Courier;
	padding-left: 45px;
	margin: 0; 
	transition: all 0.65s ease;
}

h4
{
	text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
	color: #545CA1;
	font-family: Courier;
	margin: 0;
	font-size: 65px;
	padding-left: 45px;
	text-align: left;
}

/*Button*/

/* Container needed to position the button. Adjust the width as needed */
