/*
Fonts I really liked so far: Courier New, Viga (Google fonts);
My favorite blues: #E1E2EB (background), #545CA1 (text color);
Viga - current name
*/

body
{
	/* Original: #E1E2EB, 3A4660 3A4660 BDC4DE*/
	background-color: #E1E2EB;
}

#name
{
	text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
    font-size: 70px;
	padding-top: -10px; /*30 original*/
	color: #545CA1;;
	text-align: center;
	font-family: 'Viga', sans-serif;
}

/*All descriptions*/
h2
{
	font-size: 25px;
	margin-top: -35px;
	text-align: center;
	color: #545CA1;
	font-family:  'Patrick Hand', sans-serif;
}

/*Profile picture*/
img[src*="picture.jpeg"]
{
	-webkit-box-shadow: -1px 2px 26px 13px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 2px 26px 13px rgba(0,0,0,0.75);
	box-shadow: -1px 2px 26px 13px rgba(0,0,0,0.75);
	/*Source for shadow: https://www.cssmatic.com/box-shadow*/
	border-color: black;
	border-style: double;
	border-radius: 50%;
	border-block-end-color: black;
}

/*Github button location*/
#gitiboi
{
	text-align: center;
	margin-top: 25px;  /*30 original*/
}

/*Change colors of Python and Swift*/
.py, .sw, .cs, .college, .coder
{
	color: black;
	font-weight: bold;
}

/*Reduce gaps between p tags*/
p 
{ 
	margin:0 
}

.contact
{
	font-size: 20px;
	font-family: 'Viga', sans-serif;
	color: black;
	border-style: double;
	border-width: thin;
	border-image: linear-gradient(black, black) 30;
}